.landing-footer__menu__item {
  &:not(:last-child) {
    margin-right: 5rem;
  }

  &__link {
    &:link,
    &:visited {
      background-color: #333;
      text-decoration: none;
      text-transform: capitalize;
      font-size: 1.5rem;
      font-weight: 500;
      display: inline-block;
      transition: all .1s;
    }
    &:hover,
    &:active,
    &:focus {
      color: #6c63ff;
      filter: drop-shadow(0 .3rem 2rem rgba(#000, 0.4));
      transform: rotate(5deg) scale(1.2);
    }

    &:focus {
      outline: none;
    }
    @media only screen and (max-width: 991px) {
      &:not(:last-child) {
        margin-right: 4rem;
      }
    }
  }
}
