@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  background: linear-gradient(-225deg, #473b7b 0%, #3584a7 70%, #30d2be 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;

  &__spinner {
    position: absolute;
    width: 20rem;
    height: 20rem;
    border-top: 5px solid #67f9ed;
    border-bottom: 5px solid #67f9ed;
    animation: spin 1s linear infinite;
    border-radius: 100%;
  }
}

