.password-recovery {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;

  .logo {
    margin-top: 3rem;
    margin-bottom: 2rem;
    // # → #
    font-size: 3rem;
    color: transparent;
    background: linear-gradient(-225deg, #5b86e5 0%, #36d1dc 70%);
    background-clip: text;
    &__icon {
      color: #5fb8e6;
    }
  }

  &__heading {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #718096;
    margin-bottom: 1rem;

  }

  &__options {
    max-width: 46rem;
    padding: 0rem 4rem;
    border-radius: 0.5rem;

    .login__register-offer {
      margin-bottom: 5rem;
    }
  }
}
