.about__illustration {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  > img {
    width: 100%;
    max-width: 50rem;
  }
}

@media only screen and (max-width: 1175px) {
  .about__illustration {
    flex: 0;
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .about__illustration {
    flex: 0;
    display: none;
  }
}
