.login__form {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  .recovery-option {
    &:first-child {
      margin-right: 1rem;
    }
    margin-top: 0.9rem;
    padding: 1rem 4rem;
    text-transform: none;
  }
}
